# i3status configuration file.
# see "man i3status" for documentation.

general {
	colors = true
	color_good = "#4c99bb"
	interval = 5
	output_format = i3bar
}

order += "ethernet _first_"
order += "cpu_usage"
order += "memory"
order += "tztime local"

ethernet _first_ {
	format_up = "E: %ip"
	format_down = "E: down"
}

cpu_usage {
	format = "CPU: %usage"
	degraded_threshold = 60
	max_threshold = 80
}

memory {
	format = "%used : %available"
	format_degraded = "%used : %available"
	threshold_degraded = "40%"
	threshold_critical = "20%"
}

tztime local {
	format = "%A  %d.%m ~ %H:%M "
}
