NET 10 arg enp42s0 format "{arg} {flags}"
FG state 0:a44 1:4a4

# @[^@}]*s\{-1}
NET 10 arg enp42s0 format "{rx_bytes@a:<} {rx_pkts@ad:2} ↓↑ {tx_pkts@ad:<2} {tx_bytes@a}"
FG 7a7

DISK 10 arg / format "{arg} {available:^}{ino_used@dq}"
FG %used 80:aa0 90:a20

DISK 10 arg /home format "{arg} {available:^}{ino_used@dq}"
FG %used 80:aa0 90:a20

CPU 10 format "{running@aq:2.0}:{blocked@aq:2.0} {iowait@aq:3.0}"
FG blocked 1:aa0
BG iowait 99:220

CPU 10 format "FIC {forks@adq:2} {intr@adq:3} {ctxt@adq:3}"
FG forks 100:aa0

CPU 10 format "{brlbars} {%all@a:3} {%sys@a:2} {blkgraph:3}"
FG %all 48: 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 10 format "{%used@a} {free@a} [{cached@a}]"
FG %used 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 10 format "{dirty@aq:.0}:{writeback@aq:.0}"

TIME 10 arg "%A %d.%m - %H:%M:%S" format "{time}.{3}"
FG aa8

# vim: ft=config
