NET 20 "enp5s0{-}E: {inet}"
FG state 0:a44 1:4a4

DISK 600 "/{-}/{available.1>}"
FG %used 85:aa0 95:a20

READ 20 "/proc/loadavg{-}{raw}"

CPU 20 "CPU{%all.1>}"
FG %all 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 20 "MEM {used.>}:{free.>} +{cached.>}"
FG %used 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 20 "{dirty.>}:{writeback.>}"
FG 777

TIME 20 "%A %d.%m ~ %H:%M:%S"
FG bb7

# vim: ft=config
