NET 30 "enp0s5{-}E: {inet} {flags}"
FG state 0:a44 1:4a4

#DISK 600 "/{-}/ {available}"

CPU 30 "CPU{%all.1>}"
FG %all 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 30 "MEM {used.>} : {free.>} +{cached.>}"
FG %used 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 30 "{dirty.>}:{writeback.>}"
FG 666

TIME 30 "%A %d.%m ~ %H:%M:%S "
FG bb7

# vim: ft=config
