NET 30 "wlp0s20f3{-}W: {inet} {flags}"
FG state 0:a44 1:4a4

NET 30 "enp0s31f6{-}E: {inet} {flags}"
FG state 0:a44 1:4a4

#DISK 600 "/{-}/ {available}"

CPU 30 "CPU{%all.1>}"
FG %all 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 30 "MEM {used.>} : {free.>} +{cached.>}"
FG %used 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 30 "{dirty.>}:{writeback.>}"
FG 666

BAT 600 "BAT0{-}BAT {%fulldesign.2} {state}"
FG state       1:4a4 2:4a4
BG %fulldesign 0:f00 10:a00 20:440 30:

TIME 30 "%A %d.%m ~ %H:%M:%S "
FG bb7

# vim: ft=config
