NET 20 arg wlp0s20f3 format "W {inet} {flags}"
FG state 0:a44 1:4a4

# @[^@}]*s\{-1}
NET 20 arg wlp0s20f3 format "{rx_bytes@a:<} {rx_pkts@ad:2} ↓↑ {tx_pkts@ad:<2} {tx_bytes@a}"
FG 7a7

NET 20 arg enp0s31f6 format "E {inet} {flags}"
FG state 0:a44 1:4a4

CPU 20 format "{running@aq:2.0}:{blocked@aq:2.0} {iowait@aq:3.0}"
FG blocked 1:aa0
BG iowait 99:220

CPU 20 format "FIC {forks@adq:2} {intr@adq:3} {ctxt@adq:3}"
FG forks 100:aa0

CPU 20 format "{brlbars} {%all@a:3} {%sys@a:2} {blkgraph:3}"
FG %all 48: 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 20 format "{%used@a} {free@a} [{cached@a}]"
FG %used 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 20 format "{dirty@aq:.0}:{writeback@aq:.0}"

BAT 600 arg BAT0 format "{%fulldesign:.2} {state}"
FG state       1:4a4 2:4a4
BG %fulldesign 0:a00 15:220 25:

TIME 20 arg "%A %d.%m - %H:%M:%S" format "{time}.{3}"
FG aa8

# vim: ft=config
