NET 20 arg wlp0s20f3 format "W {inet} {flags}"
FG state 0:a44 1:4a4

NET 20 arg wlp0s20f3 format "{rx_pkts@dq:>2}.{tx_pkts@dq:<2}"
FG 686

NET 20 arg enp0s31f6 format "E {inet} {flags}"
FG state 0:a44 1:4a4

CPU 20 format "{running:>1} {blocked} {forks@d:>3} {intr@d:>3} {ctxt@d:>3}"
BG blocked 1:220

CPU 20 format ".{brlbars}{all:<4} {sys:>2}"
FG %all 0:999 48: 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 20 format "{%used:>} {free:>} [{cached:>}]"
FG %used 60:ff0 66:fc0 72:f90 78:f60 84:f30 90:f00

MEM 20 format "{dirty@q:>.0}:{writeback@q:>.0}"
FG 999

BAT 600 arg BAT0 format "{%fulldesign:.2} {state}"
FG state       1:4a4 2:4a4
BG %fulldesign 0:a00 15:220 25:

TIME 20 arg "%A %d.%m ~ %H:%M:%S"
FG bb9

# vim: ft=config
